@model lab12.Models.OrderViewModel

@{
    ViewData["Title"] = "Order Placed";
}
<div>
    <h4>Your order has been placed!</h4>
    <hr />
    <dl class="row">
        <dt class="col-sm-2">
            First name 
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Name)
        </dd>
        <dt class="col-sm-2">
            Last name
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Surname)
        </dd>
        <dt class="col-sm-2">
            Address
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Country), @Html.DisplayFor(model => model.City) @Html.DisplayFor(model => model.ZipCode), @Html.DisplayFor(model => model.Address)
        </dd>
        <dt class="col-sm-2">
            Total paid
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.TotalCost)
        </dd>

    </dl>
</div>
<div>
    <a asp-action="Index">Done</a>
</div>

