@model IEnumerable<lab10.Models.Article>

@{
    ViewData["Title"] = "Shop";
    var categories = ViewBag.Categories as List<lab10.Models.Category>;
    int? selectedCategoryId = ViewBag.SelectedCategory as int?;
}


<div class="row">

    <div class="col-md-3">
        <h2>Shop</h2>
        <ul class="list-group">
            <a asp-action="Cart" class="btn btn-primary float-end">View Cart</a>

            <li class="list-group-item">
                <a asp-action="Index">All Products</a>
            </li>
            @foreach (var category in ViewBag.Categories)
            {
                <li class="list-group-item">
                    <a asp-action="Index" asp-route-categoryId="@category.Id">@category.Name</a>
                </li>
            }
        </ul>
    </div>


    <div class="col-md-9">
    <table class="table">
        <thead>
            <tr>
                <th>
                    @Html.DisplayNameFor(model => model.Title)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Price)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.ImagePath)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Category)
                </th>
            </tr>
        </thead>
        <tbody>
            @foreach (var item in Model)
            {
                <tr>
                    <td>
                        @Html.DisplayFor(modelItem => item.Title)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Price)
                    </td>
                    <td>
                        @if (item.ImagePath != null)
                        {
                            <img src="~/@item.ImagePath" class="thumbnail" />
                        }
                        else
                        {
                            <img src="~/default.jpg" class="thumbnail" />
                        }
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Category.Name)
                    </td>
                    <td>
                        <form asp-action="AddToCart" method="post">
                            <input type="hidden" name="articleId" value="@item.Id" />
                             <input type="hidden" name="selectedCategoryId" value="@selectedCategoryId" />
                            <button type="submit" class="btn btn-primary">Add to Cart</button>
                        </form>
                    </td>
                </tr>
            }
        </tbody>
    </table>
    </div>
</div>